* {
    background-color: black;
}
h1 {
    text-align: center;
    color:deeppink;

}
img {
    display:block;
    margin:auto;
    width:40%;
}
div {
    text-align: center;
    color: deeppink;
    font-size: large;
}