* {
    background-color: black;
    color: white;
}
img {
    width: auto;
    display: block;
    margin:0 auto;
}
h1,h2,h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    text-align: center;
}
ul,ol {
    text-align: center;
    display: table;
    margin: 0 auto;
}